/**{
  outline: 1PX solid GREEN;
}*/
*:not(h1){
  font-family:"poppins";
}

html,
body {
  margin: 0;
  padding: 0;
}
h1{
  font-family: "Merienda";
}

#First-Section {
  background-color: #f0f4ec;
  margin-top: 0px;
  height: 865px;
}
#logo {
  color: #396c03;
  width: 300px;
  position: relative;
  left: 5%;
  margin-top: 0px;
  top: 15px;
  font-size: larger;
}

#nav-bar ul {
  list-style-type: none;
  position: absolute;
  top: -0.05%;
  left: 52%;
  width: 500px;
}
#nav-bar li {
  float: left;
  margin-left: 40px;
}

#login-Button {
  background-color: #396c03;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  left: 80%;
  top: -35px;
}
#seperator {
  position: relative;
  top: -40px;
  opacity: 0.5;
}
#leafimg {
  position: relative;
  bottom: 100px;
}

#content-info {
  color: #396c03;
  text-align: left;
  font-size: 65px;
  width: 700px;
  position: relative;
  bottom: 280px;
  left: 7%;
  font-weight: 700;
}

#sub-info {
  font-size: 24px;
  font-weight: 600;
  color: #676767;
  position: relative;
  bottom: 300px;
  left: 7.4%;
  width: 1000px;
}

#salad {
  position: relative;
  left: 55%;
  bottom: 750px;
  z-index: 1;
}

#locationSearch {
  border-radius: 120px;
  width: 600px;
  height: 69px;
  font-size: 30px;
  border: 2px solid #396c03;
  position: relative;
  bottom: 1050px;
  min-height: 69px;
  left: 7%;
}

input#locationSearch::placeholder {
  position: relative;
  font-size: 30px;
  bottom: 4px;
}

input#locationSearch[type="text"] {
  padding-left: 70px;
}

#location-logo {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 1036px;
  right: 560px;
}

#search-Button {
  background-color: #396c03;
  border: none;
  color: white;
  width: 210px;
  border-radius: 100px;
  padding: 21px 50px 21px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  bottom: 1054px;
  right: 20px;
  font-size: 22px;
  font-weight: 500;
}

#tilted-Leaf {
  position: relative;
  bottom: 1090px;
  left: 570px;
  z-index: 0;
}

.rectangle {
  box-sizing: border-box;
  position: relative;
  width: 270px;
  height: 147.5px;
  left: 1070px;
  bottom: 1430px;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  backdrop-filter: blur(6px);
  /* Note: backdrop-filter has minimal browser support */
  z-index: 3;
  border-radius: 8.86914px;
}
#Delivery-No {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #ff8b00;
  position: absolute;
  left: 80px;
  bottom: 20px;
}
#box-Description {
  position: absolute;
  width: 189px;
  height: 27px;

  top: 70px;
  left: 15%;


  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */

  text-align: center;

  color: #838383;
}

#verfication-Icon {
  position: absolute;
  height: 50px;
  top: 35px;
  left: 20px;
}

#Second-Section {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;

  /* Secondary */
  background-color: rgba(255, 123, 0, 0.05);
}

#favourite-Food-Title {
  color: #396c03;
  text-align: left;
  font-size: 65px;
  width: 45%;
  position: absolute;
  left: 100px;
  font-weight: 700;
}

#fav-food-desc {
  position: absolute;
  width: 567px;
  height: 87px;
  left: 115px;
  top: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #676767;
}

#explore-button {
  background-color: #396c03;
  border: none;
  color: white;
  width: 230px;
  border-radius: 100px;
  padding: 15px 50px 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 350px;
  left: 115px;
  font-size: 22px;
  font-weight: 500;
}
#second-sec-media {
  position: absolute;
  left: 800px;
  bottom: 100px;
  width: 500px;
}
#bike-background {
  position: absolute;
  width: 751px;
  height: 500.67px;
  bottom: -40px;
  left: -50px;
}

#Third-Section {
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container div {
  width: 394px;
  height: 388px;
  /* background-color: rgba(57, 108, 3, 0.05); */
  position: relative;
  left: 50px;
  margin: 50px;
  border-radius: 25px;
}
.flex-container div:hover{
  background-color: rgba(57, 108, 3, 0.05);
}

.logo-position {
  position: absolute;
  width: 72px;
  height: 90px;
  top: 60px;
  left: 40px;
}

.box-header {
  position: absolute;
  width: 293px;
  height: 84px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  color: #3f3f3f;
  top: 150px;
  left: 43px;
}

.box-description {
  position: absolute;
  width: 293px;
  height: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #676767;
  left: 43px;
  top: 240px;
}

.Big-Image {
  position: relative;
  width:1300px;
  height: 800px;
  
}
.Big-Image img {
  height: 933;
  width: 1241px;
  border-radius: 50px;
  position: absolute;
  left: 150px;
}
#image-header {
  position: absolute;
  width: 629px;
  height: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  top: 550px;
  left: 390px;
}

#image-description {
  position: absolute;
  width: 536px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #ededed;
  top: 630px;
  left: 430px;
}

#img-Button {
  background-color: #ff8b00;
  border: none;
  color: white;
  width: 280px;
  border-radius: 100px;
  padding: 15px 60px 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 710px;
  left: 560px;
  font-size: 22px;
  font-weight: 500;
}

.contact-us {
  width: 100%;
  height: 600px;
  position: relative;
}

#contact-us-header {
  position: absolute;
  width: 562px;
  left: 40%;
  top: 30px;
  height: 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
  color: #3f3f3f;
}
.downloadapp{
    background: rgba(255, 139, 0, 0.1);
    position: relative;
    width: 100%;
    height: 550px;
}

#downloadHeader{
position: absolute;
width: 474px;
height: 52px;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #396C03;
top: 150px;
left: 80px;
}
#download-content{
position: absolute;
width: 447px;
height: 84px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
color: #676767;
top: 220px;
left: 80px;
}

#app-store-logo{
 position: absolute;
height: 88.12px;
width: 242px;
top: 350px;
left: 80px;
}

#google-play-logo{
 position: absolute;
height: 88.12px;
width: 242px; 
top: 350px;
left: 350px;
}

#food-tech-img{
position: absolute;
width: 711px;
height: 474px;
border-radius: 28.6694px;
left:45%;
top:25px;
}
.webFooter{
    
position: relative;
width: 100%px;
height: 427px;
background: #224300;
}

#footer-head{
position: absolute;
width: 212.39px;
height: 69.72px;
font-family: 'Merienda';
font-style: normal;
font-weight: 700;
font-size: 42.5169px;
line-height: 160%;
/* or 68px */
left: 100px;
top: 80px;
color: #FFFFFF;
}
#footer-desc{
position: absolute;
width: 485px;
height: 116px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #DEDEDE;
left: 100px;
top: 170px;
}
#footer-flex-c1{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 45%;
    top: 40%;    
}

.footer-flex-item{
position: relative;
width: 184px;
margin: 5px;
text-align: left;
height: 26px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #DEDEDE;

}
#footer-flex-c2{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60%;
    top: 40%;    
}
#footer-flex-c3{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 72%;
    top: 40%;    
}
#linkhead{
    font-weight: 600;
    color: #FFFFFF;
    bottom: 60px;
}
#contact-us-form{
  position: absolute;
  left: 5%;
  top: 120px;
  font-size: 24px;
  width: 600px;
}

input#fname[type=text]{
width:700px;
font-size: 24px;
}

#lname{
  width:700px;
  font-size: 24px;
}

#user-email{
  width:700px;
  font-size: 24px;
}
#user-message{
  width:700px;
  font-size: 24px;
}

#contact-us-button{
  background-color: #396c03;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  position: absolute;
  font-size: 24px;
}

.log-in{
 position: relative;
 width: 100%;
 height: 100%;
}


#log-in-head{
  font-size: 45px;
  position:absolute;
  left: 40%;
  top: 20px;
  color: #396c03;
}

#forgot-password{
  position: absolute;
  top: 285px;
  left: 5%;
  text-decoration: none;

}
